@model ProductViewModel
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <form method="post" enctype="multipart/form-data">
        <div class="card-header">
            <div class="card-title">Create A New Product</div>
            <a href="/Products/ProductList/">< Go back</a>
        </div>
        <div class="card-body">
            <div class="form-group form-group-default">
                <label>Product Name</label>
                <input asp-for="ProductName" type="text" class="form-control" placeholder="Kiwi..">
            </div>
            <div class="form-group">
                <label>Category</label>
                <select asp-items="@ViewBag.Categories" asp-for="CategoryId" class="form-select"></select>
            </div>
            <div class="form-group form-group-default">
                <label>Stock</label>
                <input asp-for="Stock" type="number" class="form-control" placeholder="500..">
            </div>
            <div class="form-group">
                <label>Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input asp-for ="Price" placeholder="5,00" type="number" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea asp-for="Description" placeholder="Kiwi is a really nice fruit.." class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Image:</label>
                <input asp-for="Image" type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary rounded-4">
                <i class="fas fa-plus"></i> &nbsp;
                Create
            </button>
        </div>
    </form>
</div>